<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/main")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("MainNavigation", null)
    <main class="flex-shrink-0" role="main">
        @RenderBody()
    </main>
    @Html.Partial("MainFooter", null)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
