@using Microsoft.Owin.Security
@using Nihility.X0.Solution.Models.Account.ViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}
<style>
    body {
        background-image: url(../../Images/Background/bg-pattern-light.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<div class="account-page my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header py-4">
                        <a href="#">
                            <img src="~/Images/Logo/Brand.png" alt="" height="25">
                        </a>
                    </div>
                    <div class="card-body p-4">
                        <header class="text-center w-75 m-auto">
                            <h4 class="card-title">Sign In</h4>
                            <p class="card-subtitle">Enter your email address and password to access admin panel.</p>
                        </header>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(x => x.Email, new { @for = "emailaddress" })
                                @Html.TextBoxFor(x => x.Email, new { id = "emailaddress", @class = "hyper-form-control", placeholder = "Enter your email", required = "required" })
                                <small id="emailHelpBlock" class="form-text text-muted">
                                    We'll never give out your email address
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                @Html.LabelFor(x => x.Password, new { @for = "password" })
                                @Html.PasswordFor(x => x.Password, new { id = "password", @class = "hyper-form-control", placeholder = "Enter your password", required = "required" })
                            </div>

                            <div class="form-group mb-3">
                                <div class="pretty p-icon p-curve p-pulse">
                                    @Html.CheckBoxFor(x => x.RememberMe, new { id = "checkbox-signin" })
                                    <div class="state p-info-o">
                                        <i class="icon fas fa-check"></i>
                                        @Html.LabelFor(x => x.RememberMe, new { id = "checkbox-signin" })
                                    </div>
                                </div>
                                <a href="#" class="text-muted float-right"><small>Forgot your password?</small></a>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button type="submit" class="hyper-btn hyper-btn-primary"> Log In </button>
                            </div>
                        }
                        <hr class="hr-text" data-content="OR">S
                        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, htmlAttributes: new { id = "socialLoginList", @class = "mt-3" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                @foreach (AuthenticationDescription p in loginProviders)
                                {
                                    if (p.AuthenticationType == "Google")
                                    {
                                        <div class="form-group col-md-6">
                                            <button type="submit" class="btn-google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                                <span class="icon-google">
                                                    <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335" />
                                                        <path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05" />
                                                        <path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4" />
                                                        <path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853" />
                                                    </svg>
                                                </span>
                                                <span class="btn-google-text">Sign in with Google</span>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group col-md-6">
                                            <button type="submit" class="btn-facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                                <span class="icon-facebook">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1">
                                                        <path fill="#FFFFFF" d="M32 30a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v28z" />
                                                        <path fill="#4267b2" d="M22 32V20h4l1-5h-5v-2c0-2 1.002-3 3-3h2V5h-4c-3.675 0-6 2.881-6 7v3h-4v5h4v12h5z" />
                                                    </svg>
                                                </span>
                                                <span class="btn-facebook-text">Sign in with Facebook</span>
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Don't have an account? <a href="@Url.Action("Register","Account",null)" class="text-muted ml-1"><b>Sign Up</b></a></p>
                    </div> <!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            document.querySelector("#navigation").classList.add("d-none");
        });
    </script>
}